* {
    box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
}

/* Create two unequal columns that floats next to each other */
.row {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
  margin-left: 10px;
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e6e6e6;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #330000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
background-color: #333333;
color: black;
}

.topnav-right {
  float: right;
}

.row img{
  background-image: url("../../cv/images/background1.jpg");
  -webkit-filter: grayscale(45%); /* Safari 6.0 - 9.0 */
  filter: grayscale(45%);
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.contact-info {
  border: 10px double black;
  padding: 25px;

}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
 position: fixed;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
 display: block;
 text-align: center;
 padding: 16px;
 transition: all 0.3s ease;
 color: #00344d;
 font-size: 10px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
 background-color: #000;
}

.facebook {
 background: #3B5998;
 color: white;
}
.twitter {
 background: #007bb5;
 color: white;
}
.google {
 background: #dd4b39;
 color: white;
}

.linkedin {
 background: #007bb5;
 color: white;
}

.github {
 background: #1a1a1a;
 color: white;
}


* {box-sizing: border-box}
.language{
  text-align: left;
  padding: 10px;
  color: gray;
}
.english {width: 90%; background-color: #4CAF50;}
.french {width: 80%; background-color: #2196F3;}
.spanish {width: 65%; background-color: #f44336;}

.column.right{
  border: 2px solid black;
  padding: 25px;

}

.progress-bar{
  background-color:#267326;
   padding:8px;
   margin-top:7px;
   display:block;
   width:100%;
   color:black;
}
li {
    width: 50%;
    float: left;
    list-style-type: none;
    padding-right: 5.3333333%;
}

li:nth-child(even) { margin-bottom: 5em;}


progress[value] {
  appearance: none;
  width: 100%; height: 20px;
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

.html5::-moz-progress-bar,
.php::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
    -moz-linear-gradient( 135deg,
    transparent,
    transparent 33%,
    rgba(0,0,0,.1) 33%,
    rgba(0,0,0,.1) 66%,
    transparent 66%),
    -moz-linear-gradient( top,
    rgba(255, 255, 255, .25),
    rgba(0,0,0,.2)),
    -moz-linear-gradient( left, #09c, #f44);
}

  /* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
