.footer { 
    padding: 1em 0;
    font-size: 92%; 
    border-top: 1px solid #ccc; 
    text-align: center; 

&__author {
     margin-bottom: 0; 
     text-align: center;  
     font-size: xx-small;
  }

  &__social{
    display: flex;
    flex-direction: row;
    margin-left: 45%;
    margin-top: 20px;
    list-style-type:none;
    cursor: pointer;  
}
&__social-icon {transition: width 2s;}
&_social-icon{ margin-right: 15px;}
.media:hover{ border-radius: 50%;  opacity: 1.0;}

}

